<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sports-Bee</title>

    <!-- <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">

    <!-- css stylesheet -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- bootstrap script -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    </head>
    <body>
         <!-- navbar started -->
         <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            
            <a class="navbar-brand" href="#">Sports-Bee</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sechdule</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="#">Clubs&Teams</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link " href="#">Discuss&News</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link " href="#">PlayerProfile</a>
                  </li>
                </ul>
              </div>
          </div>
            
          </nav>
          <!-- navbar ended -->
          <!-- animated news section -->
          <div class="container mt-5 mx-auto"style="width:80%;height:70%;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width:90%;height:30%">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" >
                  <div class="carousel-item active" style="width:1000px">
                    <img class="d-block w-100" src="images/sachin.webp" alt="First slide" style="height:500px;width:100%;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>THis Is sachin tendulkar</h5>
                        <p>The Master Blaster with a greatest batter ever in history of cricket</p>
                      </div>
                  </div>
                  <div class="carousel-item"style="width:1000px" >
                    <img class="d-block w-100" src="images/sachin.webp" alt="Second slide" style="height:500px">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>THis Is sachin tendulkar</h5>
                        <p>The Master Blaster with a greatest batter ever in history of cricket</p>
                      </div>
                  </div>
                  <div class="carousel-item"style="width:1000px" >
                    <img class="d-block w-100" src="images/sachin.webp" alt="Third slide" style="height:500px">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>THis Is sachin tendulkar</h5>
                        <p>The Master Blaster with a greatest batter ever in history of cricket</p>
                      </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
          
          </div>
          <!-- animated news section ended -->
            <!-- rating section started -->
            <div class="container mb-3" style="margin-top:9%;width:69%;;height:16remrem;box-shadow: 5px 5px 10px #888888;">
              <div class="card" style="border-style:none;">
                <div class="card-body">
                  <!-- navigation menu starts -->
                  <div class="container mt-2">
                    <div class="row">
                      <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">TEST-RANKINGS</a>
                          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">ODI-RANKINGS</a>
                          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">T20-RANKINGS</a>
                        </div>
                      </div>
                      <!-- content of tabels starts -->
                      <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                            <div class="container">
                              <table class="table">
                                
                                <thead>
                                  <tr>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Team</th>
                                    <th scope="col">Point</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td><i class="fas fa-flag "></i></td>
                                    <td>126</td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>India</td>
                                    <td>115</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>England</td>
                                    <td>103</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                            <div class="container">
                              <table class="table">
                                
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                            <div class="container">
                              <table class="table">
                                
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div> 
                        </div>
                      </div>
                      <!-- table data ends -->
                    </div>
                  </div>
                
                  <!-- Navigation menu ends -->
                </div>
              </div>
            </div>
            <!-- Rating section ended -->

          <!-- news cards started -->
          <% for(var i=0;i< newsdata.length;i+=3){ %>
            <% if(i + 1 >= newsdata.length){ %>
              <div class="card-deck-last mb-5 mx-auto" style="display:flex;width:45%;margin-left:30%">
                <% } else if(i + 2 >= newsdata.length){ %>
                  
                  <div class="card-deck-last mb-5 ml-3" style="display:flex;width:85%;">
                <% } else { %>
                  <div class="card-deck">
                <% } %>
              <% for(var j=i;j<i+3&&j<newsdata.length;j++){ %>
              <div class="card mt-5 ml-4">
                <img src="images/news/<%=newsdata[j].image%>" class="card-img-top" alt="..."style="height:203px">
                <div class="card-body">
                  <h5 class="card-title"><%=newsdata[j].heading%></h5>
                  <p class="card-text"><%=newsdata[j].description %></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"> <b>Date of posting->  </b><%=newsdata[j].date %></small>
                </div>
              </div>
          
            <% } %>
            <% if(i<=3){ %>
            <!-- code for rankings starts -->

            <!-- code for ranking ends -->
            <% } %>
            
          </div>
          <% } %>
          
            
          
          
    </body>
    </html>