.container1{
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,auto));
    grid-gap: 20px;
}
.team-image{
    width: 100%;
    height: auto;
    z-index: 1;
}
.team-logo{
    display: block;
    margin: auto;
    width: auto;
    height: 50px;
    z-index: 2;
    margin-top: -25px;
}
.topbar{
    background-color: blue;
    text-align: center;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}
body{
    width: 100%;
    height: auto;
    background: repeating-radial-gradient(
        circle at 0 0,
        #eee,
        #ccc 50px
    );
}
.team-1{
    background-color: rgba(0, 162, 255, 0.908);
}
.team-2{
    background-color: rgb(246, 255, 0);
}
.team-3{
    background-color: rgba(46, 8, 53, 0.988);
}
.team-4{
    background-color: rgb(13, 16, 18);
}
.team-5{
    background-color: rgba(102, 0, 255, 0.908);
}
.team-6{
    background-color: rgba(59, 114, 30, 0.908);
}
.team-7{
    background-color: rgb(113, 6, 26);
}
.team-8{
    background-color: rgb(230, 47, 47);
}
h2{
    text-align: center;
    padding-top: 20px;
    color: white;
}
p{
    background-color: bisque;
    border-style: dashed;
    border-color: rgb(105, 102, 102);
    border-radius: 5px;
}
.plus-button{
    font-size: larger;
    font-weight: bold;
    color: rgb(30, 32, 33);
    background-color: rgba(255, 255, 255, 0.866);
    border-radius: 4px;
    border: 1px solid rgb(211, 176, 176);
}